$BLUE:rgb(52, 152, 219);
$DEEP-BLUE:rgb(41, 128, 185);
$WHITE:rgb(236, 240, 241);
$RED:rgb(231, 76, 60);

$ANT-BLUE: #2db7f5;

$RADIUS_SM:5px;

$ADMIN_HEADER: 64px;
$ADMIN_FOOTER: 40px;
$ADMIN_BREAD: 0px;

$HEADER:70px;
$CONTENT_MARGIN_TOP:20px;